.dashboardLogo{
    display: flex;
    align-items: flex-end;
    gap: 5%;
    margin: 28px 0 0 0;
}

.sideLink{
    text-decoration: none;
    outline: none;
    color: rgb(145, 151, 179);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
}

.sideLinkComponent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    outline: none;
    padding: 11px 8px;
    box-sizing: border-box;
}


.active {
    border-radius: 8px;
    background: rgb(89, 50, 234);
    height: 46px;
    padding: 11px 8px;
    box-sizing: border-box;
}

.sideLinkComponent.active .sideLink {
    color: #ffffff;
}

.linkComponent{
    display: flex;
    align-items: center;
    gap: 25px;
}

.versionElement{
    color: rgb(131, 131, 131);
    font-family: Poppins;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    text-align: left;
}

.sidebarContainer{
    padding: 0 20px 0 20px;
    box-sizing: border-box;
}

.pmBlock{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 76px;
}

.pmPhotoStyles{
    width: 42px;
    height: 42px;
}

.descrPM{
    color: rgb(117, 117, 117);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

@media screen and (max-width: 768px) {
    .sidebarContainer{
        height: 100%;
        width: 20%;
        padding: 0 10px 0 10px;
    }
    .customersContainer{
        padding: 15px 19px 20px 19px;
    }
    .pmPhotoStyles {
        width: 30px;
        height: 30px;
    }
    .descrPM{
        font-size: 10px;
    }
    .pmBlock{
        display: flex;
        flex-direction: column;
    }
    .greetingTitle {
        font-size: 16px;
    }
    .customersTableTitle {
        font-size: 18px;
    }
    .sideLink {
        font-size: 12px;
        font-weight: 400;
    }
    .sideLinkComponent {
        padding: 6px 4px;
        width: 11%;
        margin-left: 10px;
    }
    .linkComponent {
        gap: 18px;
    }
    .active {
        border-radius: 7px;
        background: rgb(89, 50, 234);
        height: 35px;
        padding: 6px 4px;
        box-sizing: border-box;
        width: 11%;
        margin-left: 10px;
    }
    .app{
        height: 100%;
        width: 100%;
    }
    .main-content {
        padding: 10px 10px 10px 30px!important;
    }
}